<header>
    <nav>
      <ul style="display: flex;flex-direction:row; justify-content:space-around;width:80vw">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/schools">School Index</a>
        </li>
        <li>
          <a href="/schools/new">Add New School</a>
        </li>
        <li>
          <a href="/teams">Teams Index</a>
        </li>
        <li>
          <a href="/teams/new">Add New Teams</a>
        </li>
      </ul>
    </nav>
  </header>
