<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Team</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Add a Team</h1>
    <form method="POST" action="/teams">
        <select name="school">
            <option value="" selected disabled hidden>Select School</option>
            <% schools.forEach(item => { %>
                <option value="<%= item.id %>"><%= item.school %></option>

            <% }) %>
        </select>
        <div>
            Sport: <input type="text" name="sport">
        </div>
        <select name="genders">
            <option value="" selected disabled hidden>Select Gender</option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
            <option value="Both">Both</option>
        </select>
        <div>
            <input type="submit" value="Create New Sport">
        </div>
    </form>
</body>
</html>
