<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Sport</title>
</head>
<body>
    <h1>Add a Sport</h1>
    <form method="POST" action="/teams">
        <div>
            Sport: <input type="text" name="sport">
        </div>
        <select name="genders">
            <option value="" selected disabled hidden>Select Gender</option>
            <option value="Men">Men</option>
            <option value="Women">Women</option>
            <option value="Both">Both</option>
        </select>
        <div>
            <input type="submit" value="Create New Sport">
        </div>
    </form>
</body>
</html>
